/* Breakpoints
2560x500 
1200x400 
992x300 
576x200 
375x150
*/
.mainHeader {
    padding-top: calc(2em + 74px);
    background-image: url(/img/blue_banner_375.jpg);
    height: 225px;
    background-repeat: no-repeat;
    background-position: left 0px top 74px;
}

/* small devices (landscape phones 576px and up) */
@media (min-width: 575.98px) {
    .mainHeader {
        background-image: url(/img/blue_banner_576.jpg);
        height: 275px;
    }
}

/* medium devices (landscape phones 576px and up) */
@media (min-width: 767.98px) {
    .mainHeader {
        background-image: url(/img/blue_banner_992.jpg);
        height: 375px;
    }
}

/* large devices (landscape phones 576px and up) */
@media (min-width: 991.98px) {
    .mainHeader {
        background-image: url(/img/blue_banner_1200.jpg);
        height: 475px;
    }
}

/* extra large devices (landscape phones 576px and up) */
@media (min-width: 1199.98px) {
    .mainHeader {
        background-image: url(/img/blue_banner_2560.jpg);
        height: 575px;
    }
}

/* extra extra large devices (landscape phones 576px and up) */
@media (min-width: 1199.98px) {
    .mainHeader {
        background-image: url(/img/blue_banner_2560.jpg);
        height: 575px;
    }
}